@model PoliticImpact.Models.CaseComment 

 @*Print all comments for the case där id är samma*@
        <form>
            <fieldset>
                <legend>Comments</legend>
                @foreach (var comment in Model.Reverse())
                {
                    <p>comment.commentStr</p>
                }
            </fieldset>
        </form>