@model PoliticImpact.Models.CaseMode

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CaseMode</legend>

    <div class="display-label">caseModeName</div>
    <div class="display-field">@Model.caseModeName</div>

    <div class="display-label">caseModeInt</div>
    <div class="display-field">@Model.caseModeInt</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


