@model PoliticImpact.Models.CaseMode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CaseMode</legend>

    <div class="display-label">caseModeName</div>
    <div class="display-field">@Model.caseModeName</div>

    <div class="display-label">caseModeInt</div>
    <div class="display-field">@Model.caseModeInt</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.caseModeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


