@model IEnumerable<PoliticImpact.Models.CaseItem>

@{
    ViewBag.Title = "Föslag";
    Layout = "~/Views/Shared/_Layout.Phone.cshtml";
}
@section header{
    <div data-role="header">
        <a href="~/CaseItems/Search" class="ui-btn-left" data-icon = "search" data-transition = "slideup" data-mini = "true" data-rel="external">Sök</a>
        <h2>Förslag</h2>
        @*@Html.ActionLink("Add", "Create", "CaseItem", new { data_icon = "plus", data_mini = "true", @class="ui-btn-right", data_transition = "slideup", data_rel="external"})*@
        <a href="~/CaseItems/Create" class="ui-btn-right" data-icon = "plus" data-transition = "slideup" data-mini = "true" data-rel="external">Lägg till</a>
        <!-- navigation -->
        <div data-role="navbar" data-iconpos="top">
	        <ul>
		        <li><a href="/Home/Index" data-icon="home">Hem</a></li>
                <li>@Html.ActionLink("Förslag", "Index", new { Controller = "CaseItems" }, new { data_icon = "search", @class = "ui-btn-active ui-state-persist"  })</li>
                <li>@Html.ActionLink("Om", "About", new { Controller = "Home"}, new { data_icon = "gear" })</li>
	        </ul>
        </div>
        <!-- /navigation -->
    </div>
}
<ul data-role="listview" data-filter="true" data-filter-placeholder="Filtrera förslag..."  >
@foreach (var item in Model) {
    <li>
        <a href= "/CaseItems/Details/@item.ID" rel="external"> 
            <h3>@item.Title</h3>
            <p><strong>Anders Andersson</strong></p>
            <p>@item.Text.</p>
            <p class="ui-li-aside">4 Gillar</p>
        </a>
     </li>
}
</ul>



