@{
    ViewBag.Title = "Avancerad sökning";
}
<h1>Avancerad sökning</h1>
@using (Html.BeginForm("SubmitSearch","CaseItems",FormMethod.Post))
{
<input type="search" name="search" id="search-basic" value="" placeholder="Sök..." />
<div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
	    <input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom"/>
	    <label for="checkbox-1">Förslag</label>
        <input type="checkbox" name="checkbox-2" id="checkbox-2" class="custom" disabled="disabled"/>
	    <label for="checkbox-2">Grupper</label>
        <input type="checkbox" name="checkbox-3" id="checkbox-3" class="custom" disabled="disabled" />
	    <label for="checkbox-3">Användare</label>
    </fieldset>
</div>
<input type="submit" value="Sök"/>
}