@*@model IQueryable<>*@

@{
    ViewBag.Title = "SubmitSearch";
}

<a href="~/CaseItems/Search" data-icon="back" data-transition="slidedown">Back</a>
<h2>Your searchresult: @ViewBag.Test</h2>
