

@{
    ViewBag.Title = "Statistik";
}

<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="../../Scripts/jqPlot/jquery.jqplot.js" type="text/javascript"></script>
<script src="../../Scripts/jqPlot/plugins/jqplot.dateAxisRenderer.min.js"  type="text/javascript"></script>
<script src="../../Scripts/jqPlot/plugins/jqplot.barRenderer.min.js"  type="text/javascript"></script>
<link href="../../Scripts/jqPlot/jquery.jqplot.css" rel="stylesheet" type="text/css" />


<h2>Statistik</h2>

<div id="chartdiv" style="height:400px;width:600px; "></div>



@foreach (var like in ViewBag.theLikes)
            {
                <p>@like</p>
            }

@foreach (var dates in ViewBag.theDates)
            {
                <p>@dates</p>
            }

@ViewBag.Data;

<script>
    var localJSON = [ @Html.Raw(ViewBag.Data)];
   

    var line1 = [[localJSON[0].days[0], localJSON[0].stats[0]], [localJSON[0].days[1], localJSON[0].stats[1]], [localJSON[0].days[2], localJSON[0].stats[2]], [localJSON[0].days[3], localJSON[0].stats[3]], [localJSON[0].days[4], localJSON[0].stats[4]]];

    $.jqplot('chartdiv', [line1],
        {
            seriesDefaults: {
                
                renderer:$.jqplot.BarRenderer,
                rendererOptions: {
                    // Put a 30 pixel margin between bars.
          
                    barMargin: 50,
                   
                    
                }
            },

            axes: {
                yaxis: {
                    label: 'Antal som gillat',
                    numberTicks: 5,
                    min: 0,
                    max:4
                    

                },
                xaxis: {
                    label: 'Datum',
                    renderer:$.jqplot.DateAxisRenderer, 
                    tickOptions:{formatString:'%a'},
                    min:'Nov 29, 2012', 
                    tickInterval:'1 day'
                    },
                   
                    pad: 5
                }
            }
        
)

</script>

@*<script>
    var line1 = [['2008-06-30 8:00AM', 4], ['2008-7-30 8:00AM', 6.5], ['2008-8-30 8:00AM', 5.7], ['2008-9-30 8:00AM', 9], ['2008-10-30 8:00AM', 8.2]];

    $.jqplot('chartdiv', [line1],  {
        title:'Customized Date Axis', 
        gridPadding:{right:35},
        axes:{
            xaxis:{
                renderer:$.jqplot.DateAxisRenderer, 
                tickOptions:{formatString:'%b %#d, %y'},
                min:'May 30, 2008', 
                tickInterval:'1 month'
            }
        },
        series:[{lineWidth:4, markerOptions:{style:'square'}}]
    });
</script>*@