@{
    ViewBag.Title = "Logga ut";
    Layout = "~/Views/Shared/_Layout.Phone.cshtml";
}

@section Header {
    @Html.ActionLink("Back", "Index", "Home", null, new { data_icon = "arrow-l"})
    
   <h1>@ViewBag.Title</h1>
}

<h2>Du är nu utloggad.</h2>
